body, header, footer, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1.0;
}


html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

body {
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 80% 1fr;

  & > header.site-header {
    grid-row: 1;
    grid-column: 2;
    padding: 3.5rem 0 3rem;
  }

  & > main {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
  }

  & > footer.site-footer {
    grid-row: 3;
    grid-column: 2;
    padding: 3rem 0;
  }
}

section {
  padding: 2rem 0;

  ul {
    list-style: none;

    li {
      margin: 1rem 0;

      a {
        display: block;
        padding: 1.5rem 1.5rem;
        font-weight: normal;
        line-height: 1.6;
        text-decoration: none;
        background: hsl(190, 75%, 70%);
        color: inherit;
        border-radius: 1.5rem;
      }
      
    }
  }
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

$main-color: rgb(250, 239, 84);



// body scss
section.container {
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.site-header {
  margin: 14px;
  display: grid;
  grid-template-columns: 132px 1fr 48px;
  grid-template-rows: 48px;
  overflow: hidden;

  & .logo {
    height: 48px;
    margin-top: -4px;
  }
}

.home-gif-container {
  overflow: hidden;

  img.top-background {
    width: 100vw;
    filter: grayscale(90%);
  }
}

// title scss
.number-box {
  height: 60px;
  margin-left: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 60px;

  p {
    display: block;
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;

    &.number {
      position: relative;
      margin: 0;
      font-size: 50px;
      color: #faef54;
      line-height: 60px;

      &::before {
        position: absolute;
        content: "";
        background: $main-color;
        width: 4px;
        height: 100%;
        left: 70px;
      }
    }

    &.title {
      margin-left: 20px;
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 0px;
      font-size: 22px;
      color: $main-color;
    }
  }
}

// detail scss
div.main-content {
  p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
  }
}
